<?xml version="1.0"?>
<ruleset name="Very Simple Contact Us Form">
	<description>Coding standards for the Very Simple Contact Us Form plugin.</description>

	<!-- What to scan. -->
	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/languages/*</exclude-pattern>

	<arg value="sp"/>
	<arg name="basepath" value="./"/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<!-- Rules: WordPress Coding Standards. -->
	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>

	<!-- Verify that everything works fine when the minimum supported WP version is used. -->
	<config name="minimum_supported_wp_version" value="5.8"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="very-simple-contact-us-form"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Very_Simple_Contact_Us_Form"/>
				<element value="very_simple_contact_us_form"/>
			</property>
		</properties>
	</rule>

	<!-- Check for PHP cross-version compatibility down to the plugin's minimum supported PHP version. -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibilityWP"/>
</ruleset>
